<!--main-->
<main class="main" role="main">
  <!--wrap-->
  <div class="wrap clearfix">
    <!--row-->
    <div class="row">
      <!--content-->
      <section class="content center full-width wow fadeInUp">
        <div class="modal container">
          <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |user| %>
            <%= devise_error_messages! %>
            
            <h3>Редактировать Ваш профиль</h3>
            <div id="message" class="alert alert-danger"></div>
            <div class="f-row">
              <%= user.label :Ваше_Имя %>
              <%= user.text_field :chefname, :placeholder => "Ваше имя", :id => "name" %>
            </div>
            <div class="f-row">
              <%= user.label :Ваш_email %>
              <%= user.email_field :email, :placeholder => "Ваш email", :id => "email" %>
            </div>
            <div class="f-row">
              <%= user.label :Ваш_адресс %>
              <%= user.text_field :adress, :placeholder => "Ваш адресс" %>
            </div>

            <div class="f-row full">
              <%= user.label :Ваша_фотография %>
              <%= user.file_field :user_image, :value => "Загрузить фотографию" %>
            </div>

            <div class="f-row">
              <%= user.label :Пароль %>
              <% if @minimum_password_length %>
              <em>(<%= @minimum_password_length %> знаков минимум)</em>
              <% end %><br />
              <%= user.password_field :password, autocomplete: "off", :placeholder => "Ваш пароль" %>
            </div>

            <div class="field f-row">
              <%= user.label :Подтверждение_пароля %><br />
              <%= user.password_field :password_confirmation, autocomplete: "off", :placeholder => "Подтвердите Ваш пароль" %>
            </div>

            <div class="field f-row">
              <%= user.label :Текущий_пароль %> <i>(нам необходим Ваш текущий пароль для сохранения изменений)</i><br />
              <%= user.password_field :current_password, autocomplete: "off", :placeholder => "Введите Ваш текущий пароль" %>
            </div>

            <div class="f-row bwrap">
              <%= user.submit user_path(current_user), :value => "Сохранить" %>
            </div>
          <% end %>
        </div>
      </section>
    </div>
  </div>
</main>

