<!--main-->
<main class="main" role="main">
	<!--wrap-->
	<div class="wrap clearfix">
		<!--content-->
		<section class="content">
			<!--row-->
			<div class="row">
				<!--profile left part-->
				<div class="my_account one-fourth wow fadeInLeft">
					<figure>
						<%= image_tag @chef.chef_image.url(:medium), :alt => "#{@chef.chefname}" %>
					</figure>
					<div class="container">
						<h2><%= @chef.chefname %></h2> 
					</div>
					
					<% if @chef.id == current_chef.id %>
						<div class="chefs_links">
							<%= link_to "Редактировать профиль", edit_chef_registration_path, class: "button chef" %>
						</div>
						<div class="chefs_links">
							<%= link_to "Выйти из аккаунта", destroy_chef_session_path, method: :delete, class: "button chef gold light" %>
						</div>
					<% end %>
				</div>
				<!--//profile left part-->
				
				<div class="three-fourth wow fadeInRight">
					<nav class="tabs">
						<ul>
							<li class="active"><%= link_to "Обо мне", "#about", :title => "Обо мне" %></li>
							<li><a href="#recipes" title="My recipes">Мои рецепты</a></li>
							<li><a href="#favorites" title="My favorites">My favorites</a></li>
							<li><a href="#posts" title="My posts">Мои статьи</a></li>
						</ul>
					</nav>
					
					<!--about-->
					<div class="tab-content" id="about">
						<div class="row">
							<dl class="basic two-third">
								<dt>Name</dt>
								<dd><%= @chef.chefname %></dd>
								<dt>Адресс</dt>
								<dd><%= @chef.adress %></dd>
								<dt>Любимые блюда</dt>
								<dd>Blender, sharp knife</dd>
								<dt>Любимые ингредиенты</dt>
								<dd>Chilli, Oregano, Basil</dd>
								<dt>Рецептов опубликовано</dt>
								<dd><%= @chef.recipes.count %></dd>
								<dt>Статей опубликовано</dt>
								<dd>9</dd>
							</dl>
							
							<div class="one-third">
								<ul class="boxed gold">
									<li class="light"><a href="#" title="Best recipe"><i class="ico i-had_best_recipe"></i> <span>Had a best recipe</span></a></li>
									<li class="medium"><a href="#" title="Was featured"><i class="ico i-was_featured"></i> <span>Was featured</span></a></li>
									<li class="dark"><a href="#" title="Added a first recipe"><i class="ico i-added_first_recipe"></i> <span>Added a first recipe</span></a></li>
									
									<li class="medium"><a href="#" title="Added 10-20 recipes"><i class="ico i-added_several_recipes"></i> <span>Added 10-20 recipes</span></a></li>
									<li class="dark"><a href="recipes.html" title="Events"><i class="ico i-wrote_blog_post"></i> <span>Wrote a blog post</span></a></li>
									<li class="light"><a href="recipes.html" title="Fish"><i class="ico i-wrote_comment"></i> <span>Wrote a comment</span></a></li>
									
									<li class="dark"><a href="recipes.html" title="Fish"><i class="ico i-won_contest"></i> <span>Won a contest</span></a></li>
									<li class="light"><a href="recipes.html" title="Healthy"><i class="ico i-shared_recipe"></i> <span>Shared a recipe</span></a></li>
									<li class="medium"><a href="#" title="Was featured"><i class="ico i-was_featured"></i> <span>Was featured</span></a></li>
								</ul>
							</div>
						</div>
					</div>
					<!--//about-->
				
					<!--my recipes-->
					<div class="tab-content" id="recipes">
						<div class="entries row">
							<!--item-->
							<% @chef.recipes.each_slice(3) do |recipes| %>
								<div class="entries row">
									<% recipes.each do |recipe| %>
										<div class="entry one-third wow fadeInLeft">
											<figure>
												<%= image_tag recipe.recipe_image.url(:medium) %>
												<figcaption>
													<%= link_to recipe_path(recipe) do %>
														<i class="ico i-view"></i> <span>Просмотреть рецепт</span>
													<% end %>
												</figcaption>
											</figure>
											<div class="container">
												<h2><%= link_to recipe_path(recipe) do %><%= recipe.name %><% end %></h2>
												<div class="actions">
													<div>
														<div class="difficulty"><i class="ico i-medium"></i><a href="#"><%= recipe.difficulty %></a></div>
														<div class="likes"><i class="ico i-likes"></i><a href="#">10</a></div>
														<div class="comments"><i class="ico i-comments"></i><a href="recipe.html#comments">7</a></div>
													</div>
												</div>
											</div>
										</div>
									<% end %>
								</div>
							<% end %>
							<!--item-->
						</div>
					</div>
					<!--//my recipes-->
					
					
					<!--my favorites-->
					<div class="tab-content" id="favorites">
						<div class="entries row">
							<!--item-->
							<div class="entry one-third">
								<figure>
									<img src="images/img6.jpg" alt="" />
									<figcaption><a href="recipe.html"><i class="ico i-view"></i> <span>View recipe</span></a></figcaption>
								</figure>
								<div class="container">
									<h2><a href="recipe.html">Thai fried rice with fruit and vegetables</a></h2> 
									<div class="actions">
										<div>
											<div class="difficulty"><i class="ico i-medium"></i><a href="#">medium</a></div>
											<div class="likes"><i class="ico i-likes"></i><a href="#">10</a></div>
											<div class="comments"><i class="ico i-comments"></i><a href="recipe.html#comments">27</a></div>
										</div>
									</div>
								</div>
							</div>
							<!--item-->
							
							<!--item-->
							<div class="entry one-third">
								<figure>
									<img src="images/img5.jpg" alt="" />
									<figcaption><a href="recipe.html"><i class="ico i-view"></i> <span>View recipe</span></a></figcaption>
								</figure>
								<div class="container">
									<h2><a href="recipe.html">Spicy Morroccan prawns with cherry tomatoes</a></h2> 
									<div class="actions">
										<div>
											<div class="difficulty"><i class="ico i-hard"></i><a href="#">hard</a></div>
											<div class="likes"><i class="ico i-likes"></i><a href="#">10</a></div>
											<div class="comments"><i class="ico i-comments"></i><a href="recipe.html#comments">27</a></div>
										</div>
									</div>
								</div>
							</div>
							<!--item-->
							
							<!--item-->
							<div class="entry one-third">
								<figure>
									<img src="images/img8.jpg" alt="" />
									<figcaption><a href="recipe.html"><i class="ico i-view"></i> <span>View recipe</span></a></figcaption>
								</figure>
								<div class="container">
									<h2><a href="recipe.html">Super easy blueberry cheesecake</a></h2> 
									<div class="actions">
										<div>
											<div class="difficulty"><i class="ico i-easy"></i><a href="#">easy</a></div>
											<div class="likes"><i class="ico i-likes"></i><a href="#">10</a></div>
											<div class="comments"><i class="ico i-comments"></i><a href="recipe.html#comments">27</a></div>
										</div>
									</div>
								</div>
							</div>
							<!--item-->
						</div>
					</div>
					<!--//my favorites-->
					
					<!--my posts-->
					<div class="tab-content" id="posts">
						<!--entries-->
						<div class="entries row">
							<!--item-->
							<div class="entry one-third">
								<figure>
									<img src="images/img12.jpg" alt="" />
									<figcaption><a href="blog_single.html"><i class="ico i-view"></i> <span>View post</span></a></figcaption>
								</figure>
								<div class="container">
									<h2><a href="blog_single.html">Barbeque party</a></h2> 
									<div class="actions">
										<div>
											<div class="date"><i class="ico i-date"></i><a href="#">22 Dec 2014</a></div>
											<div class="comments"><i class="ico i-comments"></i><a href="blog_single.html#comments">27</a></div>
										</div>
									</div>
									<div class="excerpt">
										<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod. Lorem ipsum dolor sit amet . . . </p>
									</div>
								</div>
							</div>
							<!--item-->
							
							<!--item-->
							<div class="entry one-third">
								<figure>
									<img src="images/img11.jpg" alt="" />
									<figcaption><a href="blog_single.html"><i class="ico i-view"></i> <span>View post</span></a></figcaption>
								</figure>
								<div class="container">
									<h2><a href="blog_single.html">How to make sushi</a></h2> 
									<div class="actions">
										<div>
											<div class="date"><i class="ico i-date"></i><a href="#">22 Dec 2014</a></div>
											<div class="comments"><i class="ico i-comments"></i><a href="blog_single.html#comments">27</a></div>
										</div>
									</div>
									<div class="excerpt">
										<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod. Lorem ipsum dolor sit amet . . . </p>
									</div>
								</div>
							</div>
							<!--item-->
							
							<!--item-->
							<div class="entry one-third">
								<figure>
									<img src="images/img10.jpg" alt="" />
									<figcaption><a href="blog_single.html"><i class="ico i-view"></i> <span>View post</span></a></figcaption>
								</figure>
								<div class="container">
									<h2><a href="blog_single.html">Make your own bread</a></h2> 
									<div class="actions">
										<div>
											<div class="date"><i class="ico i-date"></i><a href="#">22 Dec 2014</a></div>
											<div class="comments"><i class="ico i-comments"></i><a href="blog_single.html#comments">27</a></div>
										</div>
									</div>
									<div class="excerpt">
										<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod. Lorem ipsum dolor sit amet . . . </p>
									</div>
								</div>
							</div>
							<!--item-->
						</div>
						<!--//entries-->
					</div>
					<!--//my posts-->
				</div>
			</div>
			<!--//row-->
		</section>
		<!--//content-->
	</div>
	<!--//wrap-->
</main>
<!--//main-->