<div class="submit_recipe container">
	<%= form_for(@recipe, html: { multipart: true }) do |f| %>
		<section>
			<h2>Основное</h2>
			<p>Все поля являются обязательными.</p>
			<div class="f-row">
				<div class="full">
					<%= f.text_field :title, :placeholder => "Название рецепта" %>
				</div>
			</div>
			<div class="f-row">
				<div class="third"><%= f.text_field :pre_time, :placeholder => "Время подготовления" %></div>
				<div class="third"><%= f.text_field :cook_time, :placeholder => "Время приготовления" %></div>
				<div class="third"><%= f.text_field :difficulty, :placeholder => "Сложность" %></div>
			</div>
			<div class="f-row">
				<div class="third"><%= f.text_field :servers, :placeholder => "На сколько людей серверовано?" %></div>
				<div class="third">
					
				</div>
				
			</div>
		</section>
		<section>
			<h2>Описание</h2>
			<div class="f-row">
				<div class="full">
				<%= f.text_area :summary, :placeholder => "Введите короткое описание", :class => 'ckeditor' %>
				</div>
			</div>
		</section>

		<section>
			<h2>Ингредиенты</h2>
			<%= f.fields_for :ingredients do |ing| %>
				<%= render 'ingredient_fields', f: ing %>
			<% end %>
				<div class="f-row full">
					<%= link_to_add_association 'Добавить ингредиент', f, :ingredients, class: "button" %>
				</div>
		</section>

		<section>
			<h2>Сам рецепт</h2>
			<div class="f-row">
				<%= f.text_area :description, :placeholder => "Введите сам рецепт", :class => 'ckeditor' %>
			</div>
		</section>

		<section>
			<h2>Фото рецепта</h2>
			<div class="f-row full">
				<%= f.file_field :recipe_image %>
			</div>
		</section>

		<div class="f-row full">
			<%= f.submit(@recipe.new_record? ? 'Создать рецепт' : 'Отредактировать рецепт', class: "button", :id => "submitRecipe") %>
		</div>
	<% end %>
</div>