<div class="entries row">
	<% obj.each do |recipe| %>
		<div class="entry one-third wow fadeInLeft" data-wow-delay="<%= cycle(".2s", ".4s", ".8s") %>">
			<figure>
				<%= image_tag recipe.recipe_image.url(:medium) %>
				<figcaption>
					<%= link_to recipe_path(recipe) do %>
						<i class="ico i-view"></i> <span>Просмотреть рецепт</span>
					<% end %>
				</figcaption>
			</figure>
			<div class="container">
				<h2><%= link_to recipe_path(recipe) do %><%= recipe.title %><% end %></h2>
				<div class="actions">
					<div>
						<div class="difficulty"><i class="ico i-medium"></i><a href="#"><%= recipe.difficulty %></a></div>
						<div class="likes"><i class="ico i-likes"></i><a href="#">10</a></div>
						<div class="comments"><i class="ico i-comments"></i><a href="recipe.html#comments">7</a></div>
					</div>
				</div>
			</div>
		</div>
	<% end %>
</div>
