<!--main-->
<main class="main" role="main">
	<!--wrap-->
	<div class="wrap clearfix">
		<!--breadcrumbs-->
		<nav class="breadcrumbs">
			<ul>
				<li><a href="index-2.html" title="Home">Home</a></li>
				<li>Blog</li>
			</ul>
		</nav>
		<!--//breadcrumbs-->
		
		<!--row-->
		<div class="row">
			<header class="s-title wow fadeInLeft">
				<h1>Кулинарные статьи</h1>
			</header>
			
			<!--content-->
			<section class="content three-fourth wow fadeInLeft">
				<!--blog entry-->
				<% @posts.each do |post| %>
					<article class="post">
						<div class="entry-meta">
							<div class="date">
								<span class="day"><%= post.created_at.strftime("%d") %></span> 
								<span class="my"><%= post.created_at.strftime("%b. %Y") %></span>
							</div>
							<div class="avatar">
								<%= link_to chef_path(post.chef) do %>
									<%= image_tag post.chef.chef_image.url(:thumb), :alt => "#{post.chef.chefname}" %>
									<span><%= post.chef.chefname %></span>
								<% end %>
							</div>
						</div>
						<div class="container">
							<div class="entry-featured"><%= link_to post_path(post) do %><%= image_tag post.post_image.url(:medium) %><% end %></div>
							<div class="entry-content">
								<h2>
									<%= link_to post_path(post) do %>
										<%= post.title %>
									<% end %>
								</h2>
								<p><%= truncate(post.content, length: 200) %> </p>
							</div>
							<div class="actions">
								<div>
									<div class="category"><i class="ico i-category"></i><a href="#">Tips and tricks</a></div>
									<div class="comments"><i class="ico i-comments"></i><a href="blog_single.html#comments">27</a></div>
									<div class="leave_comment"><a href="blog_single.html#respond">Комментировать</a></div>
									<div class="more"><a href="blog_single.html">Прочесть</a></div>
								</div>
							</div>
						</div>
					</article>
				<% end %>
				<!--//blog entry-->
				
				<!--blog entry-->
				<article class="post wow fadeInUp">
					<div class="entry-meta">
						<div class="date">
							<span class="day">25</span> 
							<span class="my">July, 2014</span>
						</div>
						<div class="avatar">
							<a href="my_profile.html"><img src="images/avatar2.jpg" alt="" /><span>Alex J.</span></a>
						</div>
					</div>
					<div class="container">
						<div class="entry-featured"><a href="blog_single.html"><img src="images/img2.jpg" alt="" /></a></div>
						<div class="entry-content">
							<h2><a href="blog_single.html">This is a blog post title</a></h2>
							<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod. </p>
						</div>
						<div class="actions">
							<div>
								<div class="category"><i class="ico i-category"></i><a href="#">Tips and tricks</a></div>
								<div class="comments"><i class="ico i-comments"></i><a href="blog_single.html#comments">27</a></div>
								<div class="leave_comment"><a href="blog_single.html#respond">Leave a comment</a></div>
								<div class="more"><a href="blog_single.html">Read more</a></div>
							</div>
						</div>
					</div>
				</article>
				<!--//blog entry-->
				
				<div class="pager wow fadeInUp">
					<a href="#">1</a>
					<a href="#" class="current">2</a>
					<a href="#">3</a>
					<a href="#">4</a>
					<a href="#">5</a>
				</div>
			</section>
			<!--//content-->
			
			<!--right sidebar-->
			<aside class="sidebar one-fourth">
				<div class="widget">
					<ul class="categories right">
						<li><a href="#">All recipes</a></li>
						<li class="active"><a href="#">Tips and Tricks</a></li>
						<li><a href="#">Events</a></li>
						<li><a href="#">Inspiration</a></li>
						<li><a href="#">Category name</a></li>
						<li><a href="#">Lorem ipsum</a></li>
						<li><a href="#">Dolor</a></li>
						<li><a href="#">Sit amet</a></li>
					</ul>
				</div>
				<div class="widget">
					<h3>Advertisment</h3>
					<a href="#"><img src="images/advertisment.jpg" alt="" /></a>
				</div>
			</aside>
			<!--//right sidebar-->
		</div>
		<!--//row-->
	</div>
	<!--//wrap-->
</main>
<!--//main-->